
@{
    ViewData["Title"] = "MyAnnounces";
}

<section class="background-img" data-setbg="assets/img/details-background.jpg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>My Announces</h1>
                <ul>
                    <li><a asp-controller="home" asp-action="index">Home</a></li>
                    @*<li><span class="slash">/</span><a href="#">Property Catalog</a></li>*@
                    <li><span class="slash">/</span><span>My Announces</span></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="homes">
    <div class="container">
        <div class="title">
            <h2>My Anounces</h2>
            <hr>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-12 single-home">
                <a href="homeDetails.html">
                    <img src="assets/img/home-1.jpg" alt="">
                </a>
                <div class="caption">
                    <h4> <a href="homeDetails.html">Building: 123 on the Park</a></h4>
                    <span>$4399.00 <span>/ month</span></span>

                    <ul>
                        <li><i class="fas fa-vector-square"></i><span>1200 sq ft</span></li>
                        <li><i class="fas fa-bath"></i> <span>2 bathrooms</span> </li>
                    </ul>
                    <ul class="second-ul">
                        <li><span><i class="fas fa-bed"></i> 4 bedrooms</span></li>
                        <li><span><i class="fas fa-car"></i>2 garages</span></li>
                    </ul>
                    <p>
                        Introducing Brooklyn's most unique and genteel address: 123 on the Park. A stately,
                        one-of-a-kind rental residence directly overlooking Brooklyn's famed Prospect Park.
                    </p>
                    <a class="edit" href="#">Edit</a>
                    <a class="delete" href="#">Delete</a>

                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12 single-home">
                <a href="#">
                    <img src="assets/img/home-2.jpg" alt="">
                </a>
                <div class="caption">
                    <h4> <a href="#">2266 48th Ave</a></h4>
                    <span>$1,339.00 <span>/ month</span></span>
                    <ul>
                        <li><i class="fas fa-vector-square"></i><span>1200 sq ft</span></li>
                        <li><i class="fas fa-bath"></i> <span>2 bathrooms</span> </li>
                    </ul>
                    <ul class="second-ul">
                        <li><span><i class="fas fa-bed"></i> 4 bedrooms</span></li>
                        <li><span><i class="fas fa-car"></i>2 garages</span></li>
                    </ul>
                    <p>
                        Classic architectural detail, truly superb floor plan & strong upside potential for the
                        next steward to restore this forever home to greatness.
                    </p>
                    <a class="edit" href="#">Edit</a>
                    <a class="delete" href="#">Delete</a>

                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12 single-home">
                <a href="#">
                    <img src="assets/img/home-3.jpg" alt="">
                </a>
                <div class="caption">
                    <h4> <a href="#">225 Maywood Dr, San Francisco, CA 94127</a></h4>
                    <span>$2,229.00<span>/ month</span></span>
                    <ul>
                        <li><i class="fas fa-vector-square"></i><span>1200 sq ft</span></li>
                        <li><i class="fas fa-bath"></i> <span>2 bathrooms</span> </li>
                    </ul>
                    <ul class="second-ul">
                        <li><span><i class="fas fa-bed"></i> 4 bedrooms</span></li>
                        <li><span><i class="fas fa-car"></i>2 garages</span></li>
                    </ul>
                    <p>One of the original homes built at Ocean Beach.</p>
                    <a class="edit" href="#">Edit</a>
                    <a class="delete" href="#">Delete</a>

                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12 single-home">
                <a href="#">
                    <img src="assets/img/home-1.jpg" alt="">
                </a>
                <div class="caption">
                    <h4> <a href="#">Building: 123 on the Park</a></h4>
                    <span>$4399.00 <span>/ month</span></span>
                    <ul>
                        <li><i class="fas fa-vector-square"></i><span>1200 sq ft</span></li>
                        <li><i class="fas fa-bath"></i> <span>2 bathrooms</span> </li>
                    </ul>
                    <ul class="second-ul">
                        <li><span><i class="fas fa-bed"></i> 4 bedrooms</span></li>
                        <li><span><i class="fas fa-car"></i>2 garages</span></li>
                    </ul>
                    <p>
                        Introducing Brooklyn's most unique and genteel address: 123 on the Park. A stately,
                        one-of-a-kind rental residence directly overlooking Brooklyn's famed Prospect Park.
                    </p>
                    <a class="edit" href="#">Edit</a>
                    <a class="delete" href="#">Delete</a>

                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12 single-home">
                <a href="#">
                    <img src="assets/img/home-2.jpg" alt="">
                </a>
                <div class="caption">
                    <h4> <a href="#">2266 48th Ave</a></h4>
                    <span>$1,339.00 <span>/ month</span></span>
                    <ul>
                        <li><i class="fas fa-vector-square"></i><span>1200 sq ft</span></li>
                        <li><i class="fas fa-bath"></i> <span>2 bathrooms</span> </li>
                    </ul>
                    <ul class="second-ul">
                        <li><span><i class="fas fa-bed"></i> 4 bedrooms</span></li>
                        <li><span><i class="fas fa-car"></i>2 garages</span></li>
                    </ul>
                    <p>
                        Classic architectural detail, truly superb floor plan & strong upside potential for the
                        next steward to restore this forever home to greatness.
                    </p>
                    <a class="edit" href="#">Edit</a>
                    <a class="delete" href="#">Delete</a>


                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12 single-home">
                <a href="#">
                    <img src="assets/img/home-3.jpg" alt="">
                </a>
                <div class="caption">
                    <h4> <a href="#">225 Maywood Dr, San Francisco, CA 94127</a></h4>
                    <span>$2,229.00<span>/ month</span></span>
                    <ul>
                        <li><i class="fas fa-vector-square"></i><span>1200 sq ft</span></li>
                        <li><i class="fas fa-bath"></i> <span>2 bathrooms</span> </li>
                    </ul>
                    <ul class="second-ul">
                        <li><span><i class="fas fa-bed"></i> 4 bedrooms</span></li>
                        <li><span><i class="fas fa-car"></i>2 garages</span></li>
                    </ul>
                    <p>One of the original homes built at Ocean Beach.</p>
                    <a class="edit" href="#">Edit</a>
                    <a class="delete" href="#">Delete</a>
                </div>
            </div>
        </div>
    </div>
</section>

