@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
}


<section class="background-img" data-setbg="assets/img/details-background.jpg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Forget Password</h1>
                <ul>
                    <li><a asp-controller="home" asp-action="index">Home</a></li>
                    @*<li><span class="slash">/</span><a href="#">Property Catalog</a></li>*@
                    <li><span class="slash">/</span><span>ForgetPassword</span></li>
                </ul>
            </div>
        </div>
    </div>
</section>



<section class="login-form">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-12">
                @if (ViewBag.Info != null)
                {
                    <div class="alert alert-warning">
                        @ViewBag.Info
                    </div>
                }
                <form class="row g-3 needs-validation" method="post" asp-action="ForgetPassword" novalidate>
                    <div class="col-12">
                        <label asp-for="Email" class="form-label">Email</label>
                        <input type="text" asp-for="Email" class="form-control" required>
                        <div class="valid-feedback">
                            Looks Good
                        </div>
                        <div class="invalid-feedback">
                            Enter Your Email
                        </div>
                    </div>
                    <div class="col-md-6 col-8">
                        <button type="submit" class="btn btn-primary">Təsdiqlə</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>