@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
}



<section class="background-img" data-setbg="assets/img/details-background.jpg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Reset Password</h1>
                <ul>
                    <li><a asp-controller="home" asp-action="index">Home</a></li>
                    @*<li><span class="slash">/</span><a href="#">Property Catalog</a></li>*@
                    <li><span class="slash">/</span><span>Reset Password</span></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="login-form">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-12">
                @if (ViewBag.Info != null)
                {
                    <div class="alert alert-warning">
                        @ViewBag.Info
                    </div>
                }
                <form class="row g-3 needs-validation login-form-first" method="post" asp-action="resetPassword" novalidate>
                    <input asp-for="Email" type="hidden" />
                    <input asp-for="Token" type="hidden" />
                    <div class="col-12">
                        <label asp-for="Password" class="form-label">Kod</label>
                        <input asp-for="Password" class="form-control" required>
                        <div class="valid-feedback">
                            Looks Good
                        </div>
                        <div class="invalid-feedback">
                            Enter Your Password
                        </div>
                    </div>
                    <div class="col-12">
                        <label asp-for="ConfirmPassword" class="form-label">Kod yenidən</label>
                        <input asp-for="ConfirmPassword" class="form-control" required>
                        <div class="valid-feedback">
                            Looks Good
                        </div>
                        <div class="invalid-feedback">
                            Enter Password Confirm
                        </div>
                    </div>
                    <div class="col-md-6 col-8">
                        <button type="submit" class="btn btn-primary">Tesdiqle</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

