
@{
    ViewData["Title"] = "AccesDenied";
}

<div class="content">
    <ul class="breadcrumb">
        <li>
            <p>YOU ARE HERE</p>
        </li>
        <li><a href="#" class="active">Access Denied</a> </li>
    </ul>
    <div class="page-title">
        <i class="icon-custom-left"></i>
        <h3><a asp-action="Index">Access Denied</a> - <span class="semi-bold">Əsas səhifə</span></h3>
    </div>
    <div class="row" id="inbox-wrapper">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="grid simple">
                        <div class="grid-body no-border email-body">
                            <br>
                            <div class="row-fluid">

                                <br />
                                <h2>Sizin Bu sehifeye daxil olmaga icazeniz yoxdur</h2>

                                <br />
                                <br />

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

